### **Pivot**
Pivot is used to transpose the list of values of a column to columns

### **Unpivot**
Unpivot is quite opposite to pivot i.e. trasnposing the columns into list of values to a column

![](Images/14 Pivot Unpivot.jpg)

### Example

![](Images/14 Pivot Unpivot Example.jpg)

### **Create a Sample Dataframe**

In [0]:
data = [("ABC", "Q1", 2000),
        ("ABC", "Q2", 3000),
        ("ABC", "Q3", 6000),
        ("ABC", "Q4", 1000),
        ("XYZ", "Q1", 5000),
        ("XYZ", "Q2", 4000),
        ("XYZ", "Q3", 1000),
        ("XYZ", "Q4", 2000),
        ("KLM", "Q1", 2000),
        ("KLM", "Q2", 3000),
        ("KLM", "Q3", 1000),
        ("KLM", "Q4", 5000)]

column = ["Company", "Quarter", "Revenue"]
DF = spark.createDataFrame(data = data, schema = column)
display(DF)

### **Pivot a Dataframe**

In [0]:
Pivot_DF = DF.groupBy("Company").pivot("Quarter").sum("Revenue")
display(DF)
display(Pivot_DF)

### **Unpivot a Dataframe**

In [0]:
DF = Pivot_DF.selectExpr("Company", "stack(4, 'Q1', Q1, 'Q2', Q2, 'Q3', Q3, 'Q4', Q4) as (Quarter, Revenue)")
display(DF)