### 1. WHERE (Filtering Rows)
Purpose: Filters individual rows based on specific conditions before any grouping occurs.

Usage: Only rows that satisfy the condition are included in the result.

SELECT <column names> FROM <table name> WHERE <column name> <operator> <value>

Operators: =, <>(not equal to), !=, <, >, <=, >=, 

            BETWEEN 	- between the given range
            SELECT <column names> FROM <table name> WHERE <column name> BETWEEN <value> AND <value>;
            
            LIKE 		- like the given pattern
            SELECT <column names> FROM <table name> WHERE <column name> LIKE <pattern>;
            
            IN 		- within the list of values supplied
            SELECT <column names> FROM <table name> WHERE <column name> IN <values>;
            
            _ (underscore)	- exactly one character
            
            AND             - all conditions must be TRUE (narrow the results)
            SELECT <column names> FROM <table name> WHERE <condition 1> AND <condition 2> AND <condition 3>;
            
            OR              - at least one condition must be TRUE (widen the results)      
            SELECT <column names> FROM <table name> WHERE <condition 1> OR <condition 2> OR <condition 3>;
            
            NOT             - negates a condition. If a condition is TRUE, adding NOT makes it FALSE. If a condition is FALSE, NOT makes it TRUE.
            can use NOT with:
            - IN
            - LIKE
            - BETWEEN
            - EXISTS
            - NULL checks
            - Boolean expressions
            
Example: SELECT * FROM Employees WHERE Salary > 50000;

UPDATE with Filters
UPDATE <table name> SET <column name> = <value> WHERE <condition 1> AND condition 2> AND condition 3>

In [0]:
%sql
SELECT * FROM population;

In [0]:
%sql
SELECT * FROM population WHERE continent = 'Asia';

In [0]:
%sql
SELECT * FROM population WHERE continent <> 'Asia';

In [0]:
%sql
SELECT * FROM population WHERE continent != 'Asia';

In [0]:
%sql
SELECT * FROM population WHERE total_population < 223804632;

In [0]:
%sql
SELECT * FROM population WHERE total_population > 223804632;

In [0]:
%sql
SELECT * FROM population WHERE total_population <= 223804632;

In [0]:
%sql
SELECT * FROM population WHERE total_population >= 223804632;

In [0]:
%sql
SELECT * FROM population WHERE total_population BETWEEN 1000000000 AND 2000000000;

In [0]:
%sql
SELECT * FROM population WHERE country LIKE 'B%';                 -- Returns all rows where the country starts with the letter ‘B’.

In [0]:
%sql
SELECT * FROM population WHERE country LIKE '%ia';                -- Returns all rows where the country ends with ‘ia’.

In [0]:
%sql
SELECT * FROM population WHERE country LIKE 'In%ia';              -- Returns all rows where the country starts with ‘In’ and ends with ‘ia’

In [0]:
%sql
SELECT * FROM population WHERE country LIKE '%ia%';               -- Returns all rows where the country name contains ‘ia’ anywhere in the middle, start, or end.

In [0]:
%sql
SELECT * FROM population WHERE country LIKE 'In_ia';              -- Returns all rows where the country name matches exactly one character

In [0]:
%sql
SELECT * FROM population WHERE country LIKE 'In_____ia';          -- Returns all rows where the country name starts with In followed by exactly 5 characters (because each _ = one character)

In [0]:
%sql
SELECT * FROM population WHERE country LIKE '%i_';                -- Returns all rows where the country name ends with the letter ‘i’ followed by exactly one more character.

In [0]:
%sql
SELECT * FROM population WHERE country LIKE '%i__';               -- Returns all rows where the country name ends with the letter ‘i’ followed by exactly two more character.

In [0]:
%sql
-- SELECT database_name, number_of_votes FROM popular_databases WHERE (database_name LIKE 'SQL%' OR database_name LIKE '%SQL') AND number_of_votes < 32000;

In [0]:
%sql
SELECT * FROM population WHERE country IN ('India', 'China');    -- Returns all rows where the country name is either India or China. */

In [0]:
%sql
SELECT * FROM population WHERE continent = 'Asia' AND total_population >= 250000000;

In [0]:
%sql
SELECT * FROM population WHERE continent = 'America' OR total_population >= 1000000000;

In [0]:
%sql
SELECT * FROM population WHERE continent = 'Asia' AND (total_population >= 1000000000 OR total_population < 200000000);

In [0]:
%sql
SELECT * FROM population WHERE country NOT IN ('India', 'China');

In [0]:
%sql
SELECT * FROM population WHERE country NOT LIKE '%ia';

In [0]:
%sql
SELECT * FROM population WHERE country NOT LIKE 'I%';

In [0]:
%sql
SELECT * FROM population WHERE total_population NOT BETWEEN 100000000 AND 200000000;

In [0]:
%sql
/*
SELECT country FROM population p
WHERE NOT EXISTS (
    SELECT 1
    FROM cities c
    WHERE c.country = p.country
);
*/

In [0]:
%sql
SELECT * FROM population WHERE total_population IS NOT NULL;

In [0]:
%sql
SELECT * FROM population WHERE NOT (total_population > 100000000);

In [0]:
%sql
-- UPDATE with Filters
-- UPDATE <table name> SET <column name> = <value> WHERE <condition 1> AND condition 2> AND condition 3>
UPDATE population SET total_population = 341234567 WHERE country LIKE 'US%';

In [0]:
%sql
-- DELETE with Filters
-- DELETE FROM <table name> WHERE <condition 1> AND condition 2> AND condition 3>
DELETE FROM population WHERE total_population < 1000000000;

In [0]:
%sql
SELECT * FROM population;

In [0]:
%sql
INSERT INTO population (country, continent, total_population)
             values 
             ('Australia', 'Australia', 27227096),
             ('New Zealand', 'Australia', 5287479),
             ('Fiji', 'Australia', 937282),
             ('Samoa', 'Australia', 220528),
             ('Guam', 'Australia', 170185),
             ('Palau', 'Australia', 17614),
             ('India', 'Asia', 1476625576),
             ('China', 'Asia', 1412914089),
             ('Japan', 'Asia', 122427731),
             ('Bangladesh', 'Asia', 177818044),
             ('Russia', 'Asia', 143522442),
             ('Indonesia', 'Asia', 287886782),
             ('Nigeria', 'Africa', 242431832),
             ('South Africa', 'Africa', 65453084),
             ('Kenya', 'Africa', 58636412),
             ('Zimbabwe', 'Africa', 17273580),
             ('Namibia', 'Africa', 3127707),
             ('Egypt', 'Africa', 119400254),
             ('Denmark', 'Europe', 6016794),
             ('Italy', 'Europe', 58926166),
             ('Spain', 'Europe', 47850793),
             ('France', 'Europe', 66709523),
             ('Germany', 'Europe', 83644258),
             ('United Kingdom', 'Europe', 69787097),
             ('Canada', 'Americas', 40344923),
             ('Mexico', 'Americas', 132561658),
             ('Brazil', 'Americas', 213275964),
             ('Colombia', 'Americas', 53936226),
             ('Argentina', 'Americas', 45939844),
             ('United States', 'Americas', 348326949);

In [0]:
%sql
UPDATE population SET total_population = 27227096  WHERE country = 'Australia';

In [0]:
%sql
SELECT * FROM population;

In [0]:
%sql
Delete from population;