### Create Delta Table

In [0]:
%sql
CREATE OR REPLACE TABLE employee_test (
  emp_id INT,
  emp_name STRING,
  gender STRING,
  salary INT,
  dept STRING
)
USING DELTA
-- LOCATION 'workspace.default.employee_test'

### Populate Sample Data

In [0]:
%sql
insert into employee_test values(100, 'Stephen', 'M', 2000, 'IT');
insert into employee_test values(200, 'Phillip', 'M', 8000, 'HR');
insert into employee_test values(300, 'Lara', 'F', 6000, 'SALES');
insert into employee_test values(400, 'Nike', 'M', 4000, 'IT');
insert into employee_test values(500, 'Sarah', 'F', 9000, 'HR');
insert into employee_test values(600, 'Serena', 'F', 5000, 'SALES');
insert into employee_test values(700, 'Mark', 'M', 7000, 'SALES');

In [0]:
%sql
select * from employee_test

### Mehtod 1 - SQL Standard using Tablename

In [0]:
%sql
update employee_test set salary = 10000 where emp_name = 'Mark';
    
select * from employee_test

### Method 2 - SQL Standard using Table Path

In [0]:
%sql
update delta.'/employee_test' set salary = 12000 where emp_name = 'Mark'

### Method 3 - Pyspark Standard using Table Instance

In [0]:
from delta.tables import *
from pyspark.sql.functions import *
deltaTable = DeltaTable.forName(spark, "employee_test")

# Declare the predicate by using a SQL formatted String
deltaTable.update(
  condition = "emp_name = 'Mark'",
  set = {"salary": "15000"}
)

In [0]:
%sql
select * from employee_test

In [0]:
# Declare the predicate by using Spark SQL functions
deltaTable.update(
    condition=col('emp_name') == 'Mark',
    set= {'dept': lit('IT')}
)

In [0]:
%sql
select * from employee_test