### SQL Functions
###     1. Built-In Functions
###     2. User Defind Functions
    
### 1. Built-In Functions - SQL’s built‑in functions are like ready‑made tools that help you calculate, transform, summarize, and manipulate data directly inside your queries. 

    MySQL - https://dev.mysql.com/doc/refman/8.0/en/built-in-function-reference.html
    SQLite - https://www.sqlite.org/lang_corefunc.html
    
    a. Scalar Functions - A scalar function takes one input value (a number, string, date, etc.) and returns one output value.
        They work row‑by‑row. You can use them in:
            - SELECT
            - WHERE
            - ORDER BY
            - GROUP BY
            - HAVING

            1. String Functions
                a. UPPER()                    - Converts text to uppercase - UPPER(country)
                b. LOWER()                    - Converts text to lowercase - LOWER(name)
                c. CONCAT()                   - CONCAT() joins (concatenates) two or more strings together into one string. - CONCAT(string1, string2, string3, ...)
                d. REPLACE()                  - Replaces text - REPLACE(String, old_substring, new_substring) - REPLACE(name, 'a', 'A') 
                e. TRIM()                     - Removes both trailing and leading spaces - TRIM(name)
                f. LTRIM()                    - LTRIM() removes leading spaces (spaces on the left side) of a string. It does not remove spaces in the middle or at the end — only at the beginning.
                                              - SELECT LTRIM('     Hello World') AS result;
                g. RTRIM()                    - RTRIM() removes trailing spaces (spaces on the right side) of a string. It does not remove spaces at the beginning or in the middle — only at the end.
                                              - SELECT RTRIM('Hello World     ') AS result;
                h. SUBSTR()/SUBSTRING()       - Extracts part of a string - SUBSTR(String, Start, Length) - SUBSTR(name, 1, 3)
                i. INSTR()                    - INSTR() returns the position of a substring inside a string. - INSTR(string, substring)
                                              - If the substring is found, it returns the 1‑based index (first character = position 1).
                                              - If the substring is not found, it returns 0 (SQLite, MySQL) or NULL (some databases).
                j. LENGTH()                   - Returns number of characters - LENGTH(city)           
                
            2. Math Functions
                a. ABS()                - Returns the absolute value (i.e positive value) of a number (removes the negative sign). - SELECT ABS(-50); - Result: 50
                b. ROUND()              - Rounds a number to a specified number of decimal places. - ROUND(number, decimal_places) - SELECT ROUND(123.4567, 2);
                c. CEIL()/CEILING()     - Rounds a number up to the nearest whole integer. - SELECT CEIL(4.2); - Result: 5
                d. FLOOR()              - Rounds a number down to the nearest whole integer. - SELECT FLOOR(4.9); - Result: 4
                e. POWER()              - Raises a number to a specified power. - POWER(base, exponent) - SELECT POWER(3, 2); - Result: 9 (because 3^2=9)
                f. SQRT()               - SQRT() returns the square root of a number.
                                        - If the input is positive → returns the square root
                                        - If the input is 0 → returns 0
                                        - If the input is negative → most SQL engines return NULL (because square root of a negative number is not real)
                                        - SQRT(number) - SELECT SQRT(25); - Result: 5
                g. MOD()                - Returns the remainder after dividing one number by another. - MOD(number, divisor) - SELECT MOD(17, 5); - Result: 2 (because 17 ÷ 5 = 3 remainder 2)

            3. Date Functions
                a. DATE()                    - Extracts the date part (YYYY‑MM‑DD) from a datetime value. - SELECT DATE('2026-01-29 04:30:00'); - Result: 2026-01-29
                b. TIME()                    - Extracts the time part (HH:MM:SS) from a datetime value.  - SELECT DATE('2026-01-29 04:30:00'); - Result: 04:30:00
                c. NOW()/CURRENT_TIMESTAMP() - Returns the current date and time of the system. - SELECT NOW(); or SELECT CURRENT_TIMESTAMP; - Result: 2026-01-29 04:49:00
                d. STRFTIME(SQLite Only)     - Formats dates and times using custom patterns. - SELECT STRFTIME('%Y-%m-%d', 'now'); - Result: 2026-01-29
                                                                                        OR    - SELECT STRFTIME('%Y', '2026-01-29') - Result: 2026
                e. DATEDIFF(MySQL)           - Returns the number of days between two dates - DATEDIFF(date1, date2) - Result = date1 − date2 (in days)
                                                                                            - SELECT DATEDIFF('2026-01-29', '2026-01-20'); - Result: 9


                      
            4. Conversion Functions
                a. CAST()         - CAST() converts a value from one data type to another. - CAST(value AS data_type) - SELECT CAST(123 AS CHAR); - Result: '123' (string)
                                                                                                                      - SELECT CAST('45' AS INTEGER); - Result: 45 (number)
                b. CONVERT()      - CONVERT() also changes a value from one data type to another. - CONVERT(value, data_type) - SELECT CONVERT(123, CHAR); - Result: '123'
                                                                                    - SELECT CONVERT(VARCHAR(10), GETDATE(), 120); - Result: '2026-01-29' (formatted date)
                                                                                    
            5. Conditional Functions
                a. COALESCE()        - Returns the first non‑NULL value from a list of values. Useful when you want to replace NULL with a default value.
                                     - COALESCE(value1, value2, value3, ...) - SELECT COALESCE(nickname, 'No nickname') AS display_name FROM users;
                                     - If nickname is NULL → return 'No nickname', If nickname has a value → return that value.
                b. NULLIF()          - Compares two values. If they are equal, it returns NULL. If they are not equal, it returns the first value.
                                     - NULLIF(value1, value2) - SELECT NULLIF(100, 100); - Result: NULL
                                     - SELECT NULLIF(100, 50); - Result: 100
                c. CASE              - Works like IF / ELSE IF / ELSE in SQL. Allows you to apply conditional logic inside a query.
                                     - CASE
                                         WHEN condition1 THEN result1
                                         WHEN condition2 THEN result2
                                         ELSE default_result
                                       END
                                     - SELECT 
                                             country,
                                             total_population,
                                             CASE
                                                 WHEN total_population > 1000000000 THEN 'Large'
                                                 WHEN total_population BETWEEN 500000000 AND 1000000000 THEN 'Medium'
                                                 ELSE 'Small'
                                             END AS population_category
                                         FROM population;
 
###     b. Aggregate Functions
###     c. Window Functions**

### a. Scalar Functions - A scalar function takes one input value (a number, string, date, etc.) and returns one output value.
### 1. String Functions
-   a. UPPER() - Converts text to uppercase - UPPER(country

In [0]:
%sql
SELECT upper('sql fundamentals');

In [0]:
%sql
SELECT upper(country) FROM population WHERE country IN('India', 'China', 'Brazil');

### 1. String Functions
-   b. LOWER() - Converts text to lowercase - LOWER(name)

In [0]:
%sql
SELECT LOWER('SQL FUNDAMENTALS');

In [0]:
%sql
SELECT LOWER(country) FROM population WHERE country IN('India', 'China', 'Brazil');

In [0]:
%sql
SELECT upper(country) AS country,
            lower(continent) AS continent,
            total_population
        FROM population;

### 1. String Functions
-   c. CONCAT()/ || - CONCAT() joins (concatenates) two or more strings together into one string. - CONCAT(string1, string2, string3, ...)

In [0]:
%sql
SELECT concat('Steve', ' ' ,'Jobs') as fullname;

In [0]:
%sql
SELECT continent || ' - ' || country AS country,
            total_population FROM population;

In [0]:
%sql
SELECT concat(continent, ' - ', country) AS country,
            total_population FROM population;

In [0]:
%sql
SELECT 'Continent : ' || continent || ' - ' || 'Country : ' || country AS country,
            total_population FROM population;

### 1. String Functions
-   d. REPLACE() - Replaces text - REPLACE(String, old_substring, new_substring)

In [0]:
%sql
SELECT replace('This course teaches SQL Fundamentals','SQL', 'Python') AS Output;

In [0]:
%sql
SELECT replace('This SQL course teaches SQL Fundamentals','SQL', 'Python') AS Output;

In [0]:
%sql
SELECT replace('This SQL course teaches SQL Fundamentals','Sql', 'Python') AS Output;  -- case sensitive

### 1. String Functions
-   e. TRIM() - Removes both trailing and leading spaces - TRIM(name)

In [0]:
%sql
SELECT trim('      SQL Fundamentals        ') AS Output;

### 1. String Functions
-   f. LTRIM() - LTRIM() removes leading spaces (spaces on the left side) of a string. It does not remove spaces in the middle or at the end — only at the beginning.

In [0]:
%sql
SELECT LTRIM('      SQL Fundamentals       ') AS Output;

### 1. String Functions
-   g. RTRIM() - RTRIM() removes trailing spaces (spaces on the right side) of a string. It does not remove spaces at the beginning or in the middle — only at the end.

In [0]:
%sql
SELECT RTRIM('      SQL Fundamentals        ') AS Output;

In [0]:
%sql
SELECT LTRIM(RTRIM('      SQL Fundamentals        ')) AS Output;

In [0]:
%sql
-- SELECT replace(country, 'Kingdom', 'States') As country, LTRIM(continent) as continent, total_population from population

### 1. String Functions
-   h. SUBSTR()/SUBSTRING() - Extracts part of a string - SUBSTR(String, Start, Length) - SUBSTR(name, 1, 3)

In [0]:
%sql
SELECT SUBSTR('This SQL course teaches SQL Fundamentals',6, 3) AS Output;

In [0]:
%sql
SELECT SUBSTR('This SQL course teaches SQL Fundamentals',6) AS Output;

In [0]:
%sql
SELECT country, continent, total_population, SUBSTR(country, 1, 3) AS country_start, SUBSTR(country, 3) AS country_end FROM population;

### 1. String Functions
-   i. INSTR() - INSTR() returns the position of a substring inside a string. - INSTR(string, substring)

                -- If the substring is found, it returns the 1‑based index (first character = position 1).
                -- If the substring is not found, it returns 0 (SQLite, MySQL) or NULL (some databases).

In [0]:
%sql
SELECT INSTR('SQL Fundamentals', 'Fund') AS Output;

In [0]:
%sql
SELECT country, continent, total_population, 
            SUBSTR(country, 1, 3) AS country_start, 
            SUBSTR(country, 3) AS country_end, 
            INSTR(country, 'ia') AS start_pos,
            INSTR(country, ' ') AS start_pos_space 
        FROM population;

### 1. String Functions
-   j. LENGTH() - Returns number of characters - LENGTH(city)

In [0]:
%sql
SELECT length('SQL Fundamentals') AS Output;

In [0]:
%sql
SELECT country, continent, total_population, 
            SUBSTR(country, 1, 3) AS country_start, 
            SUBSTR(country, 3) AS country_end, 
            INSTR(country, 'ia') AS start_pos,
            INSTR(country, ' ') AS start_pos_space,
            length(country) AS country_length
        FROM population;

### 2. Math Functions
-   a. ABS() - Returns the absolute value (i.e positive value) of a number (removes the negative sign). - SELECT ABS(-50); - Result: 50

In [0]:
%sql
SELECT ABS(-100) AS ABS;

In [0]:
%sql
SELECT ABS(200) AS ABS;

### 2. Math Functions
-   b. ROUND() - Rounds a number to a specified number of decimal places. - ROUND(number, decimal_places) - SELECT ROUND(123.4567, 2);

In [0]:
%sql
SELECT ABS(-100) AS ABS, ROUND(125.2343543, 2) AS ROUND;

In [0]:
%sql
SELECT ABS(-100) AS ABS, ROUND(125.2343543) AS ROUND;

### 2. Math Functions
-   c. CEIL()/CEILING() - Rounds a number up to the nearest whole integer. - SELECT CEIL(4.2); - Result: 5

In [0]:
%sql
SELECT ABS(-100) AS ABS, CEIL(12.2) AS CEIL;

### 2. Math Functions
-   d. FLOOR() - Rounds a number down to the nearest whole integer. - SELECT FLOOR(4.9); - Result: 4

In [0]:
%sql
SELECT ABS(-100) AS ABS, CEIL(12.2) AS CEIL, FLOOR(12.9) AS FLOOR;

### 2. Math Functions
-   e. POWER() - Raises a number to a specified power. - POWER(base, exponent) - SELECT POWER(3, 2); - Result: 9 (because 3^2=9)

In [0]:
%sql
SELECT ABS(-100) AS ABS, CEIL(12.2) AS CEIL, FLOOR(12.9) AS FLOOR, POWER(5, 2) AS POWER;

### 2. Math Functions
-   f. SQRT() - SQRT() returns the square root of a number.

        -- If the input is positive → returns the square root
        -- If the input is 0 → returns 0
        -- If the input is negative → most SQL engines return NULL (because square root of a negative number is not real)
        -- SQRT(number) - SELECT SQRT(25); - Result: 5

In [0]:
%sql
SELECT ABS(-100) AS ABS, CEIL(12.2) AS CEIL, FLOOR(12.9) AS FLOOR, POWER(5, 2) AS POWER, SQRT(25) AS SQRT;

### 2. Math Functions
-   g. MOD() - Returns the remainder after dividing one number by another. - MOD(number, divisor) - SELECT MOD(17, 5); - Result: 2 (because 17 ÷ 5 = 3 remainder 2)

In [0]:
%sql
SELECT ABS(-100) AS ABS, CEIL(12.2) AS CEIL, FLOOR(12.9) AS FLOOR, POWER(5, 2) AS POWER, SQRT(25) AS SQRT, MOD(27, 5) AS MOD;

### Exercise

In [0]:
%sql
 CREATE TABLE my_table (
	col1 INT,
	col2 INT,
	col3 INT
);

In [0]:
%sql
INSERT INTO my_table (col1, col2, col3) VALUES (-100, 99.2, 16), (-200, 199.2, 25);

In [0]:
%sql
SELECT * FROM my_table;

In [0]:
%sql
SELECT abs(col1) AS col1_abs , ceil(col2) AS col2_ceil, floor(col2) AS col2_floor, power(col3, 2) AS col3_power, sqrt(col3) AS col3_sqrt FROM my_table;

### NESTED FUNCTIONS
-   replace the word 'Python' to 'SQL' adn convert the output string to upper case

In [0]:
%sql
SELECT UPPER(REPLACE('Python Fundamentals', 'Python', 'SQL')) AS OUTPUT;

### NESTED FUNCTIONS
-   Input - Full Name, Output - First Name, Surname separately
-   assumption - Full Name is just 2 words. e.g. Venus Williams, Serena Williams etc.

In [0]:
%sql
SELECT SUBSTR('Venus Williams', 1, 5) AS First_Name;

In [0]:
%sql
SELECT SUBSTR('Serena Williams', 1, 6) AS First_Name;

In [0]:
%sql
SELECT INSTR('Serena Williams', ' ') - 1 AS Length;

In [0]:
%sql
SELECT SUBSTR('Serena Williams', 1, INSTR('Serena Williams', ' ') - 1) AS First_Name,
        SUBSTR('Serena Williams', INSTR('Serena Williams', ' ') + 1) AS Surname;

In [0]:
%sql
SELECT SUBSTR('Venus Williams', 1, INSTR('Venus Williams', ' ') - 1) AS First_Name,
        SUBSTR('Venus Williams', INSTR('Venus Williams', ' ') + 1) AS Surname;

### Exercise

In [0]:
%sql
CREATE TABLE person(
    full_name VARCHAR(50)
);

In [0]:
%sql
INSERT INTO person(full_name) 
        VALUES 
            ('Venus Williams'),
            ('Serena Williams'),
            ('Roger Federer'),
            ('Rafael Nadal');

In [0]:
%sql
SELECT * FROM person;

In [0]:
%sql
SELECT SUBSTR(full_name, 1, INSTR(full_name, ' ') - 1) AS First_Name,
        SUBSTR(full_name, INSTR(full_name, ' ') + 1) AS Surname
    FROM person;