In [0]:
data = [
    ("ABC pvt ltd", "Q1", 2000),
    ("XYZ pvt ltd", "Q1", 5000),
    ("KLM pvt ltd", "Q1", 2000),
    ]

column = ["company", "quarter", "revenue"]
df = spark.createDataFrame(data, column)
display(df)

In [0]:
df.write.saveAsTable("default.fact_revenue")

In [0]:
display(spark.table("default.fact_revenue"))

In [0]:
display(spark.sql("select * from default.fact_revenue"))

In [0]:
%sql
select * from default.fact_revenue

In [0]:
data = [
    ("RST pvt ltd", "Q4", 7000),
    ]

column = ["company", "quarter", "revenue"]
df1 = spark.createDataFrame(data, column)
display(df1)

In [0]:
df1.write.insertInto("default.fact_revenue", overwrite=False)

In [0]:
display(spark.table("default.fact_revenue"))

In [0]:
data = [
    ("QRT pvt ltd", "Q3", 3000),
    ]

column = ["company", "quarter", "revenue"]
df2 = spark.createDataFrame(data, column)
display(df1)

In [0]:
df2.write.insertInto("default.fact_revenue", overwrite=True)

In [0]:
%sql
select * from fact_revenue

In [0]:
data = [
    ("ABC pvt ltd", "Q3", 4000),
    ]

column = ["company", "quarter", "revenue"]
df3 = spark.createDataFrame(data, column)
display(df1)

In [0]:
df3.createOrReplaceTempView("v_insert_data")

In [0]:
%sql
insert into default.fact_revenue
select * from v_insert_data

In [0]:
display(spark.table("default.fact_revenue"))