### SELECT Statement
    -- Retrieve Data
    -- Filter Data
    -- Join Multiple Tables
    -- Group Data
    -- Sort Results

### SELECT Statement Clauses
    -- SELECT       - Column Names        - Describes the columns to be included in the result set
    -- FROM         - Table Name          - Describes teh talbes to be included and how to join them
    -- WHERE        - Condition           - Filter out the data that doesn't match the condition
    -- GROUP BY     - Column Names        - Forms groups of rows using column values
    -- HAVING       - Condition           - Filter out the groups that doesn't match the condition
    -- ORDER BY     - Column Names        - Sorts the result based on the column values
    -- LIMIT        - Number of Records   - Limits the number of records in the result set
  

### SELECT
The SQL SELECT statement is a fundamental command used to retrieve data from one or more tables in a relational database. It allows users to query specific information, filter records, and sort the results.

### Basic Syntax
The most basic and essential parts of a SELECT statement are the SELECT and FROM clauses. 

sql
SELECT column1, column2, ...
FROM table_name;

column1, column2, ... are the names of the fields you want to view.
To select all columns from the table, use the asterisk (*) wildcard.
table_name is the name of the table you are querying data from. 

### Common Optional Clauses
### 1. WHERE (Filtering Rows)
Purpose: Filters individual rows based on specific conditions before any grouping occurs.
Usage: Only rows that satisfy the condition are included in the result.
Example: SELECT * FROM Employees WHERE Salary > 50000;

### 2. GROUP BY (Grouping Data)
Purpose: Groups rows that share identical values in specified columns into summary rows.
Usage: Commonly used with aggregate functions (e.g., COUNT, SUM, AVG, MIN, MAX) to perform calculations on each group.
Example: SELECT Department, COUNT(*) FROM Employees GROUP BY Department; 

### 3. HAVING (Filtering Groups)
Purpose: Filters the results of a GROUP BY clause.
Usage: Used specifically with aggregate functions, acting as a WHERE clause for groups.
Example: SELECT Department, SUM(Salary) FROM Employees GROUP BY Department HAVING SUM(Salary) > 100000; 

### 4. ORDER BY (Sorting Results)
Purpose: Sorts the result set in ascending (ASC, default) or descending (DESC) order.
Usage: Can sort by one or more columns.
Example: SELECT * FROM Products ORDER BY Price DESC; 

### 5. LIMIT / TOP / FETCH FIRST (Restricting Rows) 
Purpose: Restricts the number of rows returned by the query.
Variations:
MySQL, PostgreSQL, SQLite: LIMIT.
SQL Server / MS Access: SELECT TOP.
Oracle / ANSI SQL: FETCH FIRST n ROWS ONLY.
Example (MySQL): SELECT * FROM Users LIMIT 10; 

### 6. DISTINCT (Removing Duplicates)
Purpose: Returns only unique (distinct) values in the result set.
Usage: Placed immediately after SELECT.
Example: SELECT DISTINCT Country FROM Customers; 

### 7. JOIN (Combining Tables)
Purpose: Combines rows from two or more tables based on a related column.
Types: INNER JOIN (matching rows), LEFT JOIN (all left + matching right), RIGHT JOIN (all right + matching left), FULL OUTER JOIN.
Example: SELECT Orders.OrderID, Customers.CustomerName FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID; 

### Standard Order of Execution
When writing queries, the clauses must be placed in a specific order: 

SELECT,

FROM,

JOIN,

WHERE,

GROUP BY,

HAVING,

ORDER BY,

LIMIT / TOP / FETCH FIRST

### Create Table

In [0]:
%sql
CREATE TABLE population(
    country VARCHAR(50),
    continent VARCHAR(10),
    total_population INT
);

In [0]:
%sql
select * from population;

### Insert Data into Table

In [0]:
%sql
INSERT INTO population (country, continent, total_population)
    values ('India', 'Asia', 1427645289),
    ('China', 'Asia', 1425136566),
    ('Indonesia', 'Asia', 277563412),
    ('Nigeria', 'Africa', 223804632),
    ('Brazil', 'Americas', 216422446),
    ('Russia', 'Asia', 143551839),
    ('Mexico', 'Americas', 132523142),
    ('Canada', 'Americas', 40330253),
    ('United Kingdom', 'Europe', 69771298),
    ('Germany', 'Europe', 84075075),
    ('Australia', 'Australia', 28249700 );

### Select Data from Table

In [0]:
%sql
Select * from population;

### SELECT - SELECT LITERAL VALUES

In [0]:
%sql
SELECT 'Hello World!', 1234;

In [0]:
%sql
SELECT country, total_population, 'World Bank' FROM population;

In [0]:
%sql
SELECT country, 
    total_population, total_population/1000000 
    FROM population;

### SELECT - SELECT using FUNCTIONS

In [0]:
%sql
SELECT upper(country),
    total_population, total_population/1000000 
    FROM population;

In [0]:
%sql
SELECT upper(country), 
    total_population, 
    round(CAST(total_population AS REAL)/1000000)
    FROM population;

### ALIAS - RENAMING COLUMN

In [0]:
%sql
SELECT upper(country) as country_name, 
    total_population, 
    round(CAST(total_population AS REAL)/1000000) as population_millions
    FROM population;

### DISTINCT - REMOVING DUPLICATES

In [0]:
%sql
SELECT DISTINCT * FROM population;

In [0]:
%sql
SELECT DISTINCT country FROM population;

In [0]:
%sql
SELECT DISTINCT country, total_population FROM population;

### ORDER BY - SORTING - ASC/DESC

In [0]:
%sql
SELECT * from population ORDER BY country ASC;

In [0]:
%sql
SELECT * from population ORDER BY country DESC;

### ORDER BY - SORTING with MULTIPLE COLUMNS - ASC/DESC

In [0]:
%sql
SELECT continent,
        country,
        total_population
    FROM population
ORDER BY continent ASC, country DESC;

### LIMIT

In [0]:
%sql
SELECT * FROM population LIMIT 2;

In [0]:
%sql
SELECT * FROM population 
    ORDER BY total_population
    LIMIT 2;

In [0]:
%sql
SELECT * FROM population 
    WHERE continent = 'Asia'
    ORDER BY total_population
    LIMIT 2;